.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.approvalStatus {
    color: rgb(255, 17, 0);
}

.subscribed {
    background: #000b69;
  color: white;
  border-radius: 3px;
}

.approvedCard {
    background: #3ab40a;
    color: white;
    border-radius: 3px;
}
.approvedCardText {
    color: rgb(6, 29, 6);
}

.completedCard {
    background: #b8a715;
    color: white;
    border-radius: 3px;
}